<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img ngSrc="./assets/tree.jpg" alt="tree" height="480" width="640" priority>
    </figure>
  </div>

  <div class="card-content">
    <div class="media-content">
      <p class="title is-4">Neat Tree</p>
      <p class="subtitle is-6">nature</p>
    </div>
    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci at dolor ipsum, natus nihil obcaecati odit officiis sunt veniam.
    </div>
  </div>
</div>
